* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif ;
  background-color: #2e2421;
  color: white;
  font-size: 1rem;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  margin: 0;
}

h1 {
  color: #f9e7bd;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: clamp(1.8rem, 4vw, 3.2rem);
}

h2 {
  color: #f9e7bd;
  font-size: 2.5rem;
}


h3 {
  color: #ffdd6e;
  font-size: 1.6rem;
}

.subtitle {
  text-transform: uppercase;
  font-size: clamp(0.8rem, 1.2vw, 1rem);
  margin-top: 0.5rem;
  letter-spacing: 1px;
  border-top: 1px solid #f7f3e8;
}

.section-alt {
  background-color: #3a2e2b;
  margin: 0;
}
